:root {
  --white: #eceff1;
  --red: #b71c1c;
  --title: #263238;
  --text: #455a64;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--red);
}

a {
  text-decoration: none;
}